* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eef5f0;
    color: #2f3e34;
}

.login-container {
    display: flex;
    height: 100vh;
}

.login-image {
    height: 5px;
    width: 5px;

}

.login-form {
    flex: 1;
    background-color: #e3efe8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 80%;
    max-width: 400px;
}

.form-box h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

.form-box p {
    margin-bottom: 25px;
    color: #5f6f65;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #c8d6cf;
    outline: none;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background-color: #7fa68a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.form-box button:hover {
    background-color: #6b9176;
}


header {
    background-color: #6f9b7b;
    padding: 20px 40px;
    color: rgb(255, 255, 255);
}

header h1 {
    font-size: 26px;
}

.hero {
    display: flex;
    padding: 60px 40px;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.hero-text p {
    line-height: 1.6;
}



.section {
    padding: 50px 40px;
}

.section h2 {
    margin-bottom: 30px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 16px;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card div {
    padding: 15px;
}

.card h3 {
    margin-bottom: 8px;
}
